[Unit]
Description=PortWächter Tactical Warning Timer

[Timer]
OnCalendar=*-*-* 12:00:00
Persistent=true
Unit=portwaechter-warnings.service

[Install]
WantedBy=timers.target
