[Unit]
Description=Run PortWächter news every 15 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
AccuracySec=30s
Unit=portwaechter-news.service

[Install]
WantedBy=timers.target
